extends templates/main.pug

block content
    #race.container
        .material-shadow
            .event-details
                .name #{race.name}
                .date.date-to-convert #{race.date}
                .description #{race.description}
                if _locals.twitch.isAdmin
                    a.btn.btn-primary.edit(href='/admin/races/' + id) Edit
        .material-shadow
            nav
                ul.nav.nav-tabs
                    li.nav-item
                        .nav-link Goals
                    li.nav-item
                        .nav-link Detailed
                    li.nav-item
                        .nav-link Racers
            .sections
                section.goals
                    each game, i in race.games
                        .game
                            .name #{i + 1}. #{game.name}
                            .goal #{game.goal}
                section.details
                    each game, i in race.games
                        .game
                            .name #{i + 1}. #{game.name}
                            .goal #{game.goal}
                            .timing #{game.timing}
                            .rules #{game.rules}
                            .resources !{game.resources}
                section.racers
                    if !finished
                        .participants
                            .description
                                | Here are the runners who have signed up for this race so far.  Signup is optional.  Anyone who wants to join the race only needs to show up on the
                                |
                                a(href='http://www.speedrunslive.com/channel/') SpeedRunsLive IRC
                                |
                                | and enter the race on the day it happens.
                            .participants-list
                                each p in race.participants
                                    a.participant(href=p.streamLink) #{p.username}
                            if signedUp
                                Span You are signed up for this race!
                            else
                                a.race-sign-up.social.twitch
                                    i.fab.fa-twitch
                                    span Sign Up with your Twitch Account
                    else
                        .results
                            h2 Results
                            .participants-list
                                each p, i in race.participants
                                    .participant.clearfix
                                        span.place #{p.place}
                                        if p.streamLink
                                            a.name(href=p.streamLink) #{p.username}
                                        else
                                            span.name #{p.username}
                                        if p.vod
                                            a.time.right(href=p.vod) #{p.time || 'VOD'}
                                        else
                                            span.time.right #{p.time}
                            if race.link
                                a(href=race.link) View replay of the race

block postscript
    script.
        BestOfNes.Race.init()
        BestOfNes.Utils.convertDates()
    if signupsOpen && !signedUp
        script.
            BestOfNes.Race.setupSignupLink()