extends ../templates/main.pug

block content
    form#edit-race.container
        nav
            ul.nav.nav-tabs
                li.nav-item
                    a.active.nav-link Info
                li.nav-item
                    a.nav-link Games
                li.nav-item
                    a.nav-link Participants
        section.info.active
            .form-group
                label Name
                input.form-control(name="name" type="text" placeholder="Enter event name here")
            .form-group
                label Date
                input.date-input.form-control(name="date" type="text" placeholder="Event date")
            .form-group.form-check
                input.form-check-input(name="public" type="checkbox")
                label.form-check-label Visible to Public
                br
                small.font-text.text-muted Don't check this until you're ready for everyone to see it.
            .form-group.form-check
                input.form-check-input(name="finished" type="checkbox")
                label.form-check-label Finished
                br
                small.font-text.text-muted Check this once the race is finished (so it will appear in previous races listing).
            .form-group
                label VOD
                input.form-control(name="name" type="text" placeholder="Add link to video of the race after it's completed")
        section.games
            .games-list
                each game, index in [{}].concat(race.games || [])
                    .input-group.game
                        .input-group-prepend
                            span.input-group-text Game #
                                span.game-number #{index}
                        input.form-control(type='text' readonly)
                        .input-group-append
                            button.btn.btn-outline-secondary(type='button') Up
                            button.btn.btn-outline-secondary(type='button') Down
                            button.btn.btn-outline-primary(type='button') Edit
                            button.btn.btn-outline-danger(type='button') Delete
            button.btn.btn-primary.add-game(type='button') + Add Game
        section.participants
            | participants
        button.save.btn.btn-info(type="submit") Save Changes
    .game-edit-modal
        //.game(class=game.sample ? 'sample' : '')
        //    .form-group.row
        //        label.col-sm-2 Game
        //            span.game-number #{index + 1}
        //        .col-sm-10
        //            input.form-control(name="game[][name]" type="text" value=game.name)
        //    .form-group.row
        //        label.col-sm-2 Goal
        //        .col-sm-10
        //            input.form-control(name="game[][goal]" type="text" value=game.goal)
        //    .form-group.row
        //        label.col-sm-2 Timing
        //        .col-sm-10
        //            input.form-control(name="game[][timing]" type="text" value=game.timing)
        //    .form-group.row
        //        label.col-sm-2 Rules
        //        .col-sm-10
        //            textarea.form-control(name="game[][rules]" type="text") #{game.rules}
        //    .form-group.row
        //        label.col-sm-2 Resources
        //        .col-sm-10
        //            textarea.form-control(name="game[][resources]" type="text") #{game.timing}
block postscript
    script.
      window.BestOfNes.Admin.initRaceEditPage()